@import '../../shared/theme.scss';
.search-input{
    width: 445px;
    height: 40px;
    input{
        padding-left: 24px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $GRAY_LIGHT;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $GRAY_LIGHT;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $GRAY_LIGHT;
    }
}