@import '../../shared/theme.scss';
.image-container{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: $TRANSITION;
    &:hover{
        background-size: 110%;
        .image-shadow{
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .image-shadow{
        position: absolute;
        left: 0;
        top:  0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.3);
        transition: $TRANSITION;
    }
    .name{
        position: absolute;
        left: 50%;
        top:  50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
    }
    p{
        margin: 0px;
        color: $WHITE;
    }
}

.container{
    &__small{
        height: 251px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $WHITE;
        position: relative;
        transition: $TRANSITION;

        &:before, &:after{
            content: "";
            position: absolute;
            width: 216px;
            height: 45px;
            background-size: cover;
            background-position-y: bottom;
            z-index: -1;
            top: 228px;
        }
        &:before{
            left: -2px;
            background-image: url('/images/left_triangle_m.png');
        }
        &:after{
            right: -2px;
            background-image: url('/images/right_triangle_m.png');
        }
        .image-container{
            width: 182px;
            height: 137px
        }
        .title{
            font-size: $MEDIUM_SMALL;
            font-weight: $REGULAR;
            margin: 0px;
        }
        .location{
            font-size: $SMALL;
            font-weight: $THIN;
            color: $GREEN;
            margin: 0px;
            padding-left: 18px;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            &:before{
                content: "";
                position: absolute;
                background-image: url('/images/location_icon_pink.png');
                width:16px;
                height: 16px;
                background-size: cover;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .information{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 69px;
            margin-top: 10px;
            width: 182px;
        }
    }
    &__medium{
        height: 228px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: $WHITE;
        position: relative;
        &:before, &:after{
            content: "";
            position: absolute;
            width: 260px;
            height: 45px;
            background-size: cover;
            background-position-y: bottom;
            z-index: -1;
            top: 215px;
        }
        &:before{
            left: -3px;
            background-image: url('/images/left_triangle_m.png');
        }
        &:after{
            right: -3px;
            background-image: url('/images/right_triangle_m.png');
        }
        .image-container{
            width:187px;
            height:196px;
        }
        .information{
            margin-left: 16px;
            display: grid;
            column-gap: 14px;
            width: calc(100% - 187px);
            .title{
                font-size: $MEDIUM;
                font-weight: $REGULAR;
                line-height: 23px;
                margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .detail{
                height: 102px;
                color: $GRAY;
                font-size: $MEDIUM_SMALL;
                font-weight: $REGULAR;
                margin: 14px 0px;
            }
            .location{
                width: 120px;
                height: 40px;
                line-height: 40px;
                font-size: $MEDIUM_SMALL;
                font-weight: $REGULAR;
                margin: 0px;
                position: relative;
                padding-left: 32px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                &:before{
                    content: "";
                    position: absolute;
                    background-image: url('/images/location_icon_pink.png');
                    width: 24px;
                    height: 24px;
                    background-size: cover;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .footer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .button-container{
                    width: 120px;
                    height: 40px;
                }
            }
        }
    }
}

@media (min-width: $BREAKPOINT_DOUBLE_EXTRA_LARGE) {
    .container{
        &__small{
            &:before, &:after{
                content: "";
                position: absolute;
                width: 260px;
                height: 45px;
                background-size: cover;
                background-position-y: bottom;
                z-index: -1;
                top: 232px;
            }
            &:before{
                left: -3px;
                background-image: url('/images/left_triangle_m.png');
            }
            &:after{
                right: -3px;
                background-image: url('/images/right_triangle_m.png');
            }
            .image-container{
                width: 100%;
                height: 100%;
            }
            .information{
                width: 100%;
            }
        }
    }
}