$PINK: #ff0059;
$RED: #bb0303;
$PINK_H: #ff1d6c31;
$YELLOW: #FFB72C;
$GREEN: #007350;
$WHITE: #FFFFFF;
$BLACK: #000000;
$BLACK_LIGHT: #0D0B0C;
$GRAY: #ACACAC;
$GRAY_LIGHT: #D2D2D2;
$BACKGROUND_COLOR: #F6F7FB;
$SHADOW: 0px 4px 3px 0px #0D0B0C33;

$BUTTON_SHADOW: 0px 4px 3px rgba(13, 11, 12, 0.2);

$TRANSITION: 0.15s ease-in-out;

$LARGE: 50px;
$MEDIUM_LARGE: 20px;
$MEDIUM: 16px;
$MEDIUM_SMALL: 14px;
$SMALL: 12px;
$NOTICE: 24px;

$BOLD: 700;
$REGULAR: 400;
$THIN: 300;

$BREAKPOINT_DESKTOP: 1280px;
$BREAKPOINT_TABLET: 768px;
$BREAKPOINT_MOBILE: 360px;

@mixin mobile {
    @media (min-width: #{$BREAKPOINT_MOBILE}) {
      @content;
    }
}

@mixin tablet {
    @media (min-width: #{$BREAKPOINT_TABLET}){
      @content;
    }
}

@mixin onlytablet {
    @media (min-width: #{$BREAKPOINT_TABLET}) and (max-width: #{$BREAKPOINT_DESKTOP - 1px}){
      @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$BREAKPOINT_DESKTOP}) {
      @content;
    }
}