$PINK: #FF1D6C;
$PINK_H: #ff1d6c31;
$YELLOW: #FFB72C;
$GREEN: #007350;
$WHITE: #FFFFFF;
$BLACK: #000000;
$BLACK_LIGHT: #0D0B0C;
$GRAY: #ACACAC;
$GRAY_LIGHT: #D2D2D2;
$BACKGROUND_COLOR: #F6F7FB;
$SHADOW: 0px 4px 3px 0px #0D0B0C33;

$BUTTON_SHADOW: 0px 4px 3px rgba(13, 11, 12, 0.2);

$TRANSITION: .2s ease-in;

$LARGE: 50px;
$MEDIUM_LARGE: 20px;
$MEDIUM: 16px;
$MEDIUM_SMALL: 14px;

$BOLD: 700;
$REGULAR: 400;