@import '../../shared/theme.scss';
.background-cover{
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(28px);
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 15;
    @include desktop{
        padding-top: 0px;
    }
    .button-container{
        width:45px;
        height: 45px;
        position: relative;
        left: -24px;
        top: -30px;
        @include desktop{
            left: 33px;
            top: 25px;
        }
        &.pink{
            background-color: $PINK;
        }
        &__small{
            width:32px;
            height: 32px;
            margin-left: 18px;
        }
    }
    .modal-container{
        width: 296px;
        // height: 810px;
        position: relative;
        top: 25px;
        left: 21px;
        background-color: $WHITE;
        padding: 18px;
        margin-bottom: 142px;
        @include tablet{
            width: 676px;
            padding: 32px;
        }
        &::after, &::before{
            width: 145px;
            height: 52px;        
            content: " ";
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -43px;
            pointer-events: none;
            z-index: -1;
            @include tablet{
                width: 342px;
                height: 64px;
                bottom: -35px;
                background-size: cover;
            }
        }
        &::before{
            left: 5px;
            background-image: url('/images/modal_left_shadow.png');
            @include tablet{
                left: 10px;
            }
        }
        &::after{
            right: 5px;
            background-image: url('/images/modal_right_shadow.png');
            @include tablet{
                right: 10px;
            }
        }
        .info-wrapper{
            .image-container{
                width: 612px;
                height: 459px;
            }
            .button-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 22px;
            }
            .info{
                display: grid;
                row-gap: 22px;
                grid-template-rows: auto;
                margin-top: 22px;
                h3{
                    margin: 0px;
                    font-weight: $REGULAR;
                }
                p{
                    margin: 0px;
                }
                .detail{
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    row-gap: 25px;
                    column-gap: 43px;
                    @include tablet{
                        grid-template-columns: repeat(2, 1fr);
                    }
                    p{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        position: relative;
                        padding-left: 34px;
                        &::before{
                            width: 24px;
                            height: 24px;
                            content: " ";
                            background-size: cover;
                            position: absolute;
                            left: 0px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:nth-child(1){
                            &::before{
                                background-image: url('/images/time_icon.png');
                            }   
                        }
                        &:nth-child(2){
                            &::before{
                                background-image: url('/images/ticket_icon.png');
                            }
                        }
                        &:nth-child(3){
                            &::before{
                                background-image: url('/images/location_icon_pink.png');
                            }
                        }
                        &:nth-child(4){
                            &::before{
                                background-image: url('/images/tel_icon.png');
                            }
                        }
                    }
                }
            }
        }
    }
}