@import '../../shared/theme.scss';
.wrapper{
    background-color: $WHITE;
    .container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom:18px;
        margin: auto;
        width: 1312px;
        height: 104px;
        background-color: $WHITE;
        .links-group{
            width: 306px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
