@import '../../shared/theme.scss';
.wrapper{
    background-color: $WHITE;
    position: fixed;
    top: 0px;
    z-index: 10;
    transition: 0.2s;
    width: 100%;
    &.small{
        .container{
            padding-bottom: 14px;
            height: 60px;
            .image-container{
                width: 66px;
                height: 36px;
            }
        }
    }
    .block{
        width: 21px;
    }
    .container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom:18px;
        margin: auto;
        width: 1065px;
        height: 104px;
        background-color: $WHITE;
        transition: 0.2s;
        .image-container{
            transition: 0.2s;
            width: 99px;
            height: 57px;
        }
        .links-group{
            width: 306px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (min-width: $BREAKPOINT_DOUBLE_EXTRA_LARGE) {
  .wrapper{
      .container{
          width: 1312px;
      }
  }
}