@import '../../shared/theme.scss';
.wrapper{
    background-color: $WHITE;
    .container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom:18px;
        margin: auto;
        width: 1065px;
        height: 104px;
        background-color: $WHITE;
        .links-group{
            width: 306px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (min-width: $BREAKPOINT_DOUBLE_EXTRA_LARGE) {
  .wrapper{
      .container{
          width: 1312px;
      }
  }
}