html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow-x: hidden; */
  background-color: #F6F7FB;
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 3px 0px #0D0B0C33;
  outline: none;
}

section{
  width: 1065px;
  margin: 0 auto;
}

section article{
  margin-top: 60px;
}

* {
  box-sizing: border-box;
}