
@import '/src/shared/theme.scss';
.topic{
    .activity-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 48px;
        row-gap: 39px;
    }
    .food-wrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 27px;
        column-gap: 9px;
        margin-bottom: 77px;
    }
    h2{
        font-size: $MEDIUM_LARGE;
        font-weight: $REGULAR;
        margin: 0px 0px 12px 0px;
        position: relative;
        padding-left: 34px;
    }
}

.page-article{
    h2{
        &:before{
            content: " ";
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 16px;
            background-image: url('/images/triangle.png');
            background-size: cover;
        }
    }
    &:nth-child(3n){
        h2{
            &:before{
                width: 20px;
                height: 20px;
                background-image: url('/images/square.png');
            }
        }
    }
}